.podcast-card {
    width: 250px;
    min-height: 250px;

    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    border-radius: 1rem;
    padding: .8rem;
    opacity: 0.7;
    cursor: pointer;
}

.podcast-card:hover {
    opacity: 1;
    transition: all 0.3s;
}

.podcastTitle {
    color: var(--white);
}

.podcastImg {
    width: 100%;
    height: 230px;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin: 0.2rem 0;
}