@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --gray: #d7d7d7;
  --purple-gray: #8f8297;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

.form {
  width: 80vw;
  display: block;
  margin: 0 auto;
}


.podcast-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.bannerImg {
  background: linear-gradient(177.7deg,
      rgba(58, 129, 191, 0.3) 1.63%,
      rgba(65, 48, 90, 0.009) 148.18%);
  border-radius: 1rem;
  padding: .8rem;
  height: 300px;
  object-fit: cover;
}

.bannerImg img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 1rem;
}

.podcastDesc {
  color: var(--purple-gray);
  margin-top: 20px;
  text-align: left;
}

.profilePic {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.profile-flex {
  display: flex;
  width: 300px;
  margin-inline: auto;
  padding: 1rem;
  background: linear-gradient(177.7deg,
      rgba(58, 129, 191, 0.3) 1.63%,
      rgba(65, 48, 90, 0.009) 148.18%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
}

#heading {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.episode {
  border: 1px solid #6c6b6b;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: .7rem;
}